<h1 mat-dialog-title>Adicionar Pet</h1>
<div mat-dialog-content>
  <div class="header-container">
    <input
      type="file"
      name="selfie"
      accept="image/*"
      capture="user"
      style="display: none"
      (change)="onFileSelected($event)"
      #fileUpload
    />

    <img
      #imageLogo
      class="image-logo"
      src="{{ imgUrl }}"
      alt="Logo"
      (click)="fileUpload.click()"
    />
  </div>

  <form [formGroup]="petForm">
    <!-- Nome -->
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <!-- Tipo -->
    <mat-form-field appearance="fill">
      <mat-label>Tipo</mat-label>
      <mat-select formControlName="type">
        <mat-option value="Cachorro">Cachorro</mat-option>
        <mat-option value="Gato">Gato</mat-option>
        <mat-option value="Outro">Outro</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Aniversário -->
    <mat-form-field appearance="fill">
      <mat-label>Aniversário</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birthday" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Dias da Semana</mat-label>
      <mat-select formControlName="weekday" multiple>
        <mat-select-trigger>
          {{ petForm.value.weekday || "" }}
        </mat-select-trigger>
        @for (day of weekDayList; track day) {
        <mat-option [value]="day">{{ day }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <!-- Barra de progresso para upload -->
    <mat-progress-bar
      mode="determinate"
      [value]="uploadPercent"
      color="secondary"
    ></mat-progress-bar>
  </form>
</div>
<div class="container-buttons">
  <div mat-dialog-actions>
    <button mat-icon-button (click)="onCancel()">
      <mat-icon>close</mat-icon>
    </button>
    <button mat-icon-button (click)="onSave()" [disabled]="!petForm.valid">
      <mat-icon>check</mat-icon>
    </button>
    <button mat-icon-button (click)="onCancel()" [disabled]="!petForm.valid">
      <mat-icon>person</mat-icon>
    </button>
  </div>
</div>
