<!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Email:</label>
    <input id="email" formControlName="email" type="email" />
    <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
      <small *ngIf="loginForm.get('email')?.hasError('required')">Email is required.</small>
      <small *ngIf="loginForm.get('email')?.hasError('email')">Invalid email format.</small>
    </div>
  </div>

  <div>
    <label for="password">Password:</label>
    <input id="password" formControlName="password" type="password" />
    <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
      <small *ngIf="loginForm.get('password')?.hasError('required')">Password is required.</small>
      <small *ngIf="loginForm.get('password')?.hasError('minlength')">Password must be at least 6 characters long.</small>
    </div>
  </div>

  <button type="submit" [disabled]="loginForm.invalid">Login</button>
</form> -->

<div class="login-container">
  @if (isLoading) {
  <mat-spinner></mat-spinner>

  } @else {
  <mat-card class="card-login">
    <mat-card-header>
      <div class="header-container">
        <img
          class="example-header-image"
          src="../../../assets/imagens/pet_shop_logo_128x128.png"
          alt="Logo"
        />
      </div>
      <!-- <mat-card-title>Login</mat-card-title> -->
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" />
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
  }
</div>
