.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #9ac4b3; /* Cor do toolbar */
}

.container-sidenav {
  display: flex;
  flex: 1;
  padding-top: 64px; /* Altura do toolbar */
}

.sidenav {
  position: fixed;
  top: 64px; /* Altura do toolbar */
  height: calc(100%);
  width: 240px; /* Largura quando aberto */
  z-index: 999;
  background-color: #9ac4b3; /* Cor do sidenav */
  transition: width 0.3s;
}

.sidenav.minimized {
  width: 60px; /* Largura quando minimizado */
}

.sidenav-content {
  margin-left: 25px; /* Ajuste a largura conforme necessário */
  margin-right: 25px; /* Ajuste a largura conforme necessário */
  flex: 1;
  transition: margin-left 0.3s;
  width: 100%;
}

.sidenav-content.expanded {
  margin-left: 60px; /* Ajuste a largura conforme necessário */
}

/* Ajustes para versão mobile */
@media (max-width: 600px) {
  .container-sidenav {
    padding-top: 56px; /* Altura do toolbar em dispositivos móveis */
    overflow: auto; /* Permite a rolagem */
  }

  .sidenav-content::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Oculta a barra de rolagem no Webkit (Chrome, Safari) */
  }

  .sidenav {
    top: 56px; /* Altura do toolbar em dispositivos móveis */
    width: 30%; /* Sidenav ocupa a tela inteira em dispositivos móveis */
  }

  .sidenav-content {
    -ms-overflow-style: none; /* Oculta a barra de rolagem no IE e Edge */
    scrollbar-width: none; /* Oculta a barra de rolagem no Firefox */
    margin-left: 25px; /* Ajuste a largura conforme necessário */
    margin-right: 25px; /* Ajuste a largura conforme necessário */
  }

  .sidenav-content.expanded::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Oculta a barra de rolagem no Webkit (Chrome, Safari) */
  }

  .sidenav-content.expanded {
    -ms-overflow-style: none; /* Oculta a barra de rolagem no IE e Edge */
    scrollbar-width: none; /* Oculta a barra de rolagem no Firefox */
  }
}
